<h4 id="api-result">ID: {{user.id}}</h4>
<h4>Username: {{user.login}}</h4>
<h4>Data joined: {{user.created_at | date: ddmmyyyy}}</h4>
<h4>Last updated: {{user.updated_at | date: ddmmyyyy}}</h4>
<img ng-src="{{user.avatar_url}}" title={{user.name}}>

<br>
<br>

<select ng-model="repoSortOrder">
  <option value="+name">Name</option>
  <option value="-stargazers_count">Stars</option>
  <option value="+language">Language</option>
</select>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
      <td>{{repo.name}}</td>
      <td>{{repo.stargazers_count | number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>